<section class="wrapper style1 align-center" id="dive">
                    <div class="inner">
                        <h2> Final words </h2>
                        
                        <p align="justify">
our data story reveals the complex factors that influence the success of movie sequels. Sequels are not just simple extensions of original films, but rather the result of a careful balance of financial decisions, cast choices, genre changes, and storyline developments. Specifically, our research questions led us to the following insights: </p>
                      
                           <p align="justify">
                          1. Comparative Popularity and Financial Performances:
                             </p>
                      
                           <p align="justify">
                             Our financial analysis showed that sequels have diverse outcomes in terms of box office grossing. Some sequels outperformed their original films, defying the common assumption that originals are always more successful. This shows that the success of a sequel depends on more than just the popularity of its predecessor. Filmmakers need to account for various factors, such as changing audience tastes and optimal release timing, to maximize financial returns.
                             </p>
                      
                           <p align="justify">

2. Cast Changes:
                             </p>
                      
                           <p align="justify">
Our investigation into cast changes between original films and sequels highlighted the significance of maintaining character continuity.  Sequels that kept most of their original cast were more appealing to audiences. This highlights the role of familiar faces in creating a connection between films, enhancing the overall success of a sequel.
                 </p>
                      
                           <p align="justify">

3. Genre Dynamics:
                       </p>
                      
                           <p align="justify">        
The analysis of genre dynamics demonstrated that movies often undergo small genre changes between original films and sequels. While some genres remain consistent, others experience notable transformations. Interestingly, these genre changes do not always affect the success of sequels. Successful sequels were found across different genres, indicating that other factors, such as storytelling and character development, are more important for determining success.
                             </p>
                      
                           <p align="justify">               
                      [A CHECK SI ON A TOUT FAIT CA, JE SUIS VRAIIIIMENT PAS SURE DES 2 ET 3]
                    </p>
                      
<h2> Ethical Consideratons </h2>
                        
                        <p align="justify">
In the pursuit of understanding the dynamics of movie sequels, it is essential to address the ethical dimensions that surround the filmmaking industry. As we unravel the intricacies of movie sequels, we must acknowledge the ethical responsibilities that filmmakers bear. These considerations include the fair treatment of cast and crew, equal oportunities, the representation of diverse voices, and the impact of storytelling on societal perceptions. 
                          Our analysis does not aim to prescribe a formula for making successful movie sequels, but rather to explore the factors that influence their production and reception. We acknowledge that the film industry is mostly driven by economic motives, but it should also account for artistic and ethical values. The messages that a movie can convey are an important aspect that we believe is not well reflected in out data story. 
                      
                       </div>
                </section>
