             <section class="wrapper style1 align-center" id="dive">
                    <div class="inner">
                        <h2>The Lure of Unfinished Stories </h2>
                        
                        <p align="justify"> Movies are a universal form of entertainment that appeal to audiences worldwide. But have you ever been let down by a great movie that abruptly ends with a cliffhanger? Sometimes, there is no sequel and you need to live with it. Sometimes, when there is one, it is simply disappointing... </br>So, what makes a movie even have a sequel? How about a great one?</br> In this project, we investigate these questions using a large dataset of movies released between 1980 and 2016. We aim to discover the hidden factors that influence the success of movie sequels, and compare them with movies that do not have sequels. 
                    </p>
                       </div>
                </section>
