             <section class="wrapper style1 align-center" id="dive">
                    <div class="inner">
                        <h2>The Lure of Unfinished Stories </h2>
                        
                        <p align="justify"> Movies are a universal form of entertainment that appeal to audiences worldwide. However, have you ever been disappointed by a great movie that ends abruptly with a cliffhanger, especially when there is no sequel to resolve it? Or, if there is a sequel, it might turn out to be underwhelming...</br> So, what determines whether a movie will have a sequel, and more importantly, what makes a sequel successful? </br> In this project, we explore these questions using a comprehensive dataset of movies released between 1980 and 2016. Our aim is to identify the factors that influence whether a movie gets a sequel or not, and to conduct a comparison between the original films and their sequels. 
                    </p>
                       </div>
                </section>
