                <section class="wrapper style1 align-center" id="dive">
                    <div class="inner">
                        <h2>Part 1 : Comparing movies <em>with</em> sequels to movies <em>without</em> sequels</h2>

                      
                        <p align="justify">
To start our analysis, we first identified which movies in our dataset had sequels and which did not. We used a combination of web scraping, data cleaning, and manual verification to enrich our dataset with sequel information.

We then divided the movies into two groups: movies with sequels and movies without sequels. We compared these groups on various dimensions, with the goal to find out how these two categories differ, and what factors are associated with the success of movie sequels.
</p>
                        <h3>
                          Temporal Analysis
                        </h3>

                      <p align="justify">
Examining the release dates of movies provided valuable insights into temporal trends as it sheds light the evolving dynamics within the film industry.
                      </p>
                      <div class="title">
                        <h4>
                          Release Year Trends
                        </h4>
                      </div>

                      <p style="text-align: justify;">Nowadays, spectactors have the feeling of being submerge with sequels after sequels of their favorite movies. But does this trend really shows up in data? We analyzed the release date of more than 80'0000 films from 1888 to 2016</p>

                      <div style="display: flex; justify-content: center; width: 100%; height: auto;">
                          <iframe src="plots/p1_release_year.html" onload='javascript:(function(o){o.style.height=o.contentWindow.document.body.scrollHeight+"px";}(this));' style="height:600px;width:100%;border:none;overflow:hidden;"></iframe>
                      </div>

                      <p class="before-graph after-graph" style="text-align: justify;">
                        Indeed, our analysis on the release years reveals a shifting landscape in the production and distribution of movies. Over time, there is an increase in the overall number of movies hitting the screens. Moreover, the number of movies with sequels has significantly increased over time, reflecting a perhaps growing popularity of franchise movies. These type of movies take an increasingly greater fraction of the overall releases. 
                      </p>

                    <div style="display: flex; justify-content: center; width: 100%; height: auto;">
                        <iframe src="plots/p1_sequels_per_year.html" onload='javascript:(function(o){o.style.height=o.contentWindow.document.body.scrollHeight+"px";}(this));' style="height:400px;width:100%;border:none;overflow:hidden;"></iframe>
                    </div>

                     <h3>
                          Financial Performance
                      </h3>
                      <p align="justify">
                        One of the most obvious metrics in movie comparison are their financial performance. We measured the success of a movie by its worldwide revenue.
                        Overall, movies with sequels demonstrated higher average and median revenues compared to their non-sequel counterparts. This could suggest that financially successful movies get sequels as it aligns with the idea that there is interest and audiences will invest in follow-up productions, or that important studios have the means to promote their content more efficiently.

                        <div style="display: flex; justify-content: center; width: 100%; height: auto;">
                          <iframe src="plots/p1_earnings.html" onload='javascript:(function(o){o.style.height=o.contentWindow.document.body.scrollHeight+"px";}(this));' style="height:800px;width:100%;border:none;overflow:hidden;"></iframe>
                        </div>

                        <div class="title">
                          <h4 class="after-graph">
                            Release Months Trends
                          </h4>
                        </div>

                        <p style="text-align: justify;">
                        We've seen that movies with sequels seems to gross more profits than regular <i>one-shot</i> films. Could it be due to the timing of their release? The end-of-the-year and early summer are widely recongnized as the best periods for theatrical release and January-February-March <a href="https://en.wikipedia.org/wiki/Dump_months">as the worst.</a></br>
                        Let's see if there is any significant difference in the release months between movies with sequels and movies without sequels.</p>

                        <div style="display: flex; justify-content: center; width: 100%; height: auto;">
                          <iframe src="plots/p1_release_month.html" onload='javascript:(function(o){o.style.height=o.contentWindow.document.body.scrollHeight+"px";}(this));' style="height:800px;width:100%;border:none;overflow:hidden;"></iframe>
                        </div>

                        <p style="text-align: justify;">As we can see, there is no significant difference between movies with sequels and movie without sequels in their release schedule. On a side note, as expected, the months of October, November and December account for nearly 45% of all films released in a year, and January, February and March only for 6%</p>

                        <h3>
                          Runtime Divergence
                        </h3>

                      <p align="justify">
                        The more we dig, the more we see similarities in movies with and without sequels.</br>
                        For exemple, both categories have comparable median runtime (96 vs 95 minutes).
                      </p>

                      <div style="display: flex; justify-content: center; width: 100%; height: auto;">
                        <iframe src="plots/p1_durations.html" onload='javascript:(function(o){o.style.height=o.contentWindow.document.body.scrollHeight+"px";}(this));' style="height:800px;width:100%;border:none;overflow:hidden;"></iframe>
                      </div>

                      <h3>
                          Global Influence
                        </h3>

                      <p align="justify">
                        Next, we examine the release patterns of movies by their country of origin. We found that most movies in our dataset are from the United States, followed by India and the United Kingdom. 
                      </br>However, we also observe that movies with sequels are more likely to be from the United States. This could be due to the higher production budgets, marketing expenditures, and global distribution networks of American studios, which enable them to produce and promote sequels more effectively.
                      </p>

                      <div style="display: flex; justify-content: center; width: 100%; height: auto;">
                        <img src="plots/p1_country_log.png" style="width: 100%; height: auto;">
                      </div>


                      <p style="text-align: justify; margin-top:2em; margin-bottom: 2em;" class="before-graph after-graph">
                        The extent of the hegemony of the United States in movie production is cleary visible on this map. Other countries come nowhere as close as the US.</br>
                        We also note the total absence of Africa and South America (with the exception of Argentina) in the movie industry.
                      </p>
                      <div style="display: flex; justify-content: center; width: 100%; height: auto;">
                        <iframe src="plots/p1_map.html" onload='javascript:(function(o){o.style.height=o.contentWindow.document.body.scrollHeight+"px";}(this));' style="height:800px;width:100%;border:none;overflow:hidden;"></iframe>
                      </div>

                      <h3 class="after-map">
                          Genre Dynamics
                        </h3>

                      <p align="justify">
                        Moving on to the intrinsic characteristics of movies, we analyzed the genre composition of movies with and without sequels.
                      </br>Our dataset had a large number of subgenres, which made it difficult to compare movies across different genres. Therefore, we simplified our genre analysis by selecting the top 10 most frequent genres in our dataset, and assigning each movie two main genres based on its subgenres.</p>

                      <div style="display: flex; justify-content: center; width: 100%; height: auto;">
                        <iframe src="plots/p1_top_genres_w.html" onload='javascript:(function(o){o.style.height=o.contentWindow.document.body.scrollHeight+"px";}(this));' style="height:700px;width:100%;border:none;overflow:hidden;"></iframe>
                      </div>

                      <div style="display: flex; justify-content: center; width: 100%; height: auto;">
                        <iframe src="plots/p1_top_genres.html" onload='javascript:(function(o){o.style.height=o.contentWindow.document.body.scrollHeight+"px";}(this));' style="height:700px;width:100%;border:none;overflow:hidden;"></iframe>
                      </div>

                      <p style="text-align: justify; margin-top: 2em; margin-bottom: 2em;" class="after-graph before-graph">
                        As seen on these charts, the "drama" genre is much more represented in <i>one-shot</i> movies. This could be due to the rather "self-contained" nature of those films. 
                        Other genres are more or less proportionnally equally represented in both categories. Mainstream genres, such as "Action" or "Comedy" boast on the top of both charts.
                      </p>

                      <div style="display: flex; justify-content: center; width: 100%; height: auto;">
                        <img src="plots/p1_genres_heatmap.png" style="width: 100%; height: auto;">
                      </div>

                      <p style="text-align: justify;  margin-top: 2em; margin-bottom: 2em;" class="after-graph"> The heatmap allows us to easily visualize the frequency of genre combinations, and we found that movies with sequels are more likely to belong to the action, adventure, comedy, and fantasy genres, while movies without sequels are more likely to belong to the drama, romance, thriller, and horror genres. This suggests that movies  with high entertainment value and spectacle are more prone to getting sequels, whereas original films are more suitable for genres that have high emotional appeal and realism. We also performed a statistical test, which confirms that the genre distribution of movies with and without sequels is significantly different.
                      </p>
                      
                       <h3>
                           Casting Shadows - Actors and Characters
                        </h3>

                      <p align="justify">
                        Finally, we focused on the character attributes of movies, mainly through the age and gender of the actors. We calculated the median age of the actors for each movie, as well as the ratio of male to female actors for each movie. By looking at these graphs, we found that movies with sequels tend to have younger actors than movies without sequels. This could indicate that sequels target younger audiences, or that younger actors have more appeal and longevity in the film industry.
                      </p>

                      <div style="display: flex; justify-content: center; width: 100%; height: auto;">
                        <iframe src="plots/p1_gender.html" onload='javascript:(function(o){o.style.height=o.contentWindow.document.body.scrollHeight+"px";}(this));' style="height:800px;width:100%;border:none;overflow:hidden;"></iframe>
                      </div>

                      <p style="text-align: justify;">
                        Unsurprisingly, men are much more represented than women in movies. We found no statiscal variation in the gender ratio between movies with sequels and without.
                      </p>

                      <div style="display: flex; justify-content: center; width: 100%; height: auto;">
                        <img src="plots/p1_age.png" style="width: 100%; height: auto;">
                      </div>

                        <h3 class="after-graph">
                          So what makes a film have a sequel?
                        </h3>

                      <p align="justify">
                          So far, we've seen no significant variation between films that have sequels and don't. The only difference was that movies with sequels had more box office revenues than one-shots. That seems plausible, as profitable ventures are destined to be attempted again.</br>
                          We've reached here the limits of an analysis using only superficials data. What makes a movie have a sequel or not could be explained by factors external to the movie itself, such as advertising and distributions means by the studios. Another factor could be the notoriety of actors, popular figures starring in movies attract spectators.
                      </br>
                          One futher analysis that could be relevant is the budget of the movie. Are well-founded movies more prone to have higher box offices revenues, thus more likely to have sequels?
                      </p>

                    </div>
                </section>
