                <section class="wrapper style1 align-center" id="dive">
                    <div class="inner">
                        <h2>Part 1 : Comparing movies <em>with</em> sequels to movies <em>without</em> sequels</h2>

                      
                        <p align="justify">
                          The main sources of information that were used in this project are the <a href="https://www.cs.cmu.edu/~ark/personas/">CMU Movie Summary Corpus</a> and <a href="https://www.wikidata.org">Wikidata</a>.</p>

<p style="text-align: justify;">To start our analysis, we first identified which movies in our dataset had sequels and which did not. We used a combination of web scraping, data cleaning, and manual verification to enrich our dataset with sequel information.

We then divided the movies into two groups: movies with sequels and movies without sequels. We compared these groups on various dimensions, with the goal to find out how these two categories differ, and what factors are associated with the success of movie sequels.
</p>
                        <h3>
                          Temporal Analysis
                        </h3>

                      <p align="justify">
Examining the release dates of movies provided valuable insights into temporal trends as it shed light on the evolving dynamics within the film industry.
                      </p>
                      <div class="title">
                        <h4>
                          Release Year Trends
                        </h4>
                      </div>

                      <p style="text-align: justify;">Nowadays, spectators feel overwhelmed by the continuous stream of sequels to their favorite movies. But does this trend truly reflect in the data? We analyzed the release dates of more than 80,000 films spanning from 1888 to 2016.</p>

                      <div style="display: flex; justify-content: center; width: 100%; height: auto;">
                          <iframe src="plots/p1_release_year.html" onload='javascript:(function(o){o.style.height=o.contentWindow.document.body.scrollHeight+"px";}(this));' style="height:600px;width:100%;border:none;overflow:hidden;"></iframe>
                      </div>

                      <p class="before-graph after-graph" style="text-align: justify;">
                        Indeed, our analysis of release years reveals a shifting landscape in the production and distribution of movies. Over time, there has been an increase in the overall number of movies reaching the screens. Furthermore, the number of movies with sequels has significantly risen, reflecting a possible growing popularity of franchise films. These types of movies now constitute an increasingly larger fraction of overall releases.
                      </p>

                    <div style="display: flex; justify-content: center; width: 100%; height: auto;">
                        <iframe src="plots/p1_sequels_per_year.html" onload='javascript:(function(o){o.style.height=o.contentWindow.document.body.scrollHeight+"px";}(this));' style="height:400px;width:100%;border:none;overflow:hidden;"></iframe>
                    </div>

                     <h3>
                          Financial Performance
                      </h3>
                      <p align="justify">
                        One of the most obvious metrics for comparing movies is their financial performance. We measured a movie's success by its worldwide revenue. Overall, movies with sequels demonstrated higher average and median revenues compared to their non-sequel counterparts. This trend could suggest that financially successful movies are more likely to receive sequels, aligning with the idea that audience interest and investment in follow-up productions are strong. It may also indicate that major studios have the means to promote their content more effectively.
                        <div style="display: flex; justify-content: center; width: 100%; height: auto;">
                          <iframe src="plots/p1_earnings.html" onload='javascript:(function(o){o.style.height=o.contentWindow.document.body.scrollHeight+"px";}(this));' style="height:800px;width:100%;border:none;overflow:hidden;"></iframe>
                        </div>

                        <div class="title">
                          <h4 class="after-graph">
                            Release Months Trends
                          </h4>
                        </div>

                        <p style="text-align: justify;">
                        We've observed that movies with sequels seem to gross more profits than regular <i>one-shot</i> films. Could this be due to the timing of their release? The end-of-the-year and early summer periods are widely recognized as the best times for theatrical releases, while January through March are considered <a href="https://en.wikipedia.org/wiki/Dump_months">as the worst.</a><br>
                        Let's investigate if there is any significant difference in the release months between movies with sequels and those without sequels.</p>

                        <div style="display: flex; justify-content: center; width: 100%; height: auto;">
                          <iframe src="plots/p1_release_month.html" onload='javascript:(function(o){o.style.height=o.contentWindow.document.body.scrollHeight+"px";}(this));' style="height:800px;width:100%;border:none;overflow:hidden;"></iframe>
                        </div>

                        <p style="text-align: justify;">As we can see, there is no significant difference in the release schedules of movies with sequels and movies without sequels. On a side note, as expected, the months of October, November, and December account for nearly 45% of all films released in a year, while January, February, and March account for only 6%.</p>

                        <h3>
                          Runtime Divergence
                        </h3>

                      <p align="justify">
                        The deeper our analysis goes, the more similarities we find between movies with and without sequels.</br>
                        For example, both categories have comparable median runtimes, with sequels averaging 96 minutes and non-sequels 95 minutes.
                      </p>

                      <div style="display: flex; justify-content: center; width: 100%; height: auto;">
                        <iframe src="plots/p1_durations.html" onload='javascript:(function(o){o.style.height=o.contentWindow.document.body.scrollHeight+"px";}(this));' style="height:800px;width:100%;border:none;overflow:hidden;"></iframe>
                      </div>

                      <h3>
                          Global Influence
                        </h3>

                      <p align="justify">
                        Next, we examined the release patterns of movies based on their country of origin. Our dataset reveals that the majority of films are from the United States, followed by India and the United Kingdom. 
                      </br> However, we also observed a higher likelihood of movies with sequels originating from the United States. This trend could be attributed to the larger production budgets, more substantial marketing expenditures, and extensive global distribution networks of American studios, factors that enable them to produce and promote sequels more effectively.
                      </p>

                      <div style="display: flex; justify-content: center; width: 100%; height: auto;">
                        <img src="plots/p1_country_log.png" style="width: 100%; height: auto;">
                      </div>


                      <p style="text-align: justify; margin-top:2em; margin-bottom: 2em;" class="before-graph after-graph">
                        The extent of the United States' hegemony in movie production is clearly visible on this map. No other country comes as close to the US in terms of production volume.</br>
                        Additionally, it's noteworthy that Africa and South America (with the exception of Argentina) are almost entirely absent from the movie industry.
                        
                      </p>
                      <div style="display: flex; justify-content: center; width: 100%; height: auto;">
                        <iframe src="plots/p1_map.html" onload='javascript:(function(o){o.style.height=o.contentWindow.document.body.scrollHeight+"px";}(this));' style="height:800px;width:100%;border:none;overflow:hidden;"></iframe>
                      </div>

                      <h3 class="after-map">
                          Genre Dynamics
                        </h3>

                      <p align="justify">
                        As we shifted our focus to the intrinsic characteristics of movies, we analyzed the genre composition of movies with and without sequels.</br>
                        Given the large number of subgenres in our dataset, direct comparison across different genres was challenging. To simplify our analysis, we selected the top 10 most frequent genres within our dataset. Each movie was then categorized under two main genres, derived from its subgenres.</p>
                      <div style="display: flex; justify-content: center; width: 100%; height: auto;">
                        <iframe src="plots/p1_top_genres_w.html" onload='javascript:(function(o){o.style.height=o.contentWindow.document.body.scrollHeight+"px";}(this));' style="height:700px;width:100%;border:none;overflow:hidden;"></iframe>
                      </div>

                      <div style="display: flex; justify-content: center; width: 100%; height: auto;">
                        <iframe src="plots/p1_top_genres.html" onload='javascript:(function(o){o.style.height=o.contentWindow.document.body.scrollHeight+"px";}(this));' style="height:700px;width:100%;border:none;overflow:hidden;"></iframe>
                      </div>

                      <p style="text-align: justify; margin-top: 2em; margin-bottom: 2em;" class="after-graph before-graph">
                        As indicated by these charts, the "drama" genre is significantly more prevalent in <i>one-shot</i> movies. This could be attributed to the typically "self-contained" nature of such films. 
                        Other genres appear proportionally similar in both categories. Mainstream genres like "Action" and "Comedy" dominate the top positions in both charts.
                      </p>

                      <div style="display: flex; justify-content: center; width: 100%; height: auto;">
                        <img src="plots/p1_genres_heatmap.png" style="width: 100%; height: auto;">
                      </div>

                      <p style="text-align: justify;  margin-top: 2em; margin-bottom: 2em;" class="after-graph"> 
                        The heatmap effectively visualizes the frequency of genre combinations. Our analysis reveals that movies with sequels are more likely to belong to the action, adventure, comedy, and fantasy genres. In contrast, movies without sequels tend to fall under the drama, romance, thriller, and horror categories. This trend suggests that movies rich in entertainment and spectacle are more inclined to have sequels, while original films often align with genres that emphasize emotional appeal and realism. Additionally, a statistical test we conducted confirms a significant difference in the genre distribution between movies with and without sequels.
                      </p>
                      
                       <h3>
                           Casting Shadows - Actors and Characters
                        </h3>

                      <p align="justify">
                        Finally, our focus shifted to the character attributes of movies, primarily examining the age and gender of the actors. We calculated the median age of actors for each movie and determined the male-to-female actor ratio. The data, as illustrated in these graphs, indicates that movies with sequels tend to feature younger actors compared to movies without sequels. This trend might suggest a targeting of younger audiences by sequels, or it could reflect the greater appeal and longevity of younger actors in the film industry.
                      </p>

                      <div style="display: flex; justify-content: center; width: 100%; height: auto;">
                        <iframe src="plots/p1_gender.html" onload='javascript:(function(o){o.style.height=o.contentWindow.document.body.scrollHeight+"px";}(this));' style="height:800px;width:100%;border:none;overflow:hidden;"></iframe>
                      </div>

                      <p style="text-align: justify;">
                        Unsurprisingly, men are significantly more represented than women in movies. Our analysis revealed no statistical variation in the gender ratio between movies with sequels and those without.
                      </p>

                      <div style="display: flex; justify-content: center; width: 100%; height: auto;">
                        <img src="plots/p1_age.png" style="width: 100%; height: auto;">
                      </div>

                        <h3 class="after-graph">
                          So what makes a film have a sequel?
                        </h3>

                      <p align="justify">
                        So far, our analysis has revealed no significant differences between films with and without sequels, except in one aspect: movies with sequels tend to generate more box office revenue than one-shots. This is a plausible finding, as successful and profitable ventures are naturally more likely to be repeated.</br>
                        However, we have reached the limits of what can be discerned from merely superficial data. The decision to produce a sequel may be influenced by factors external to the movie itself, such as the advertising strategies and distribution means employed by studios, as well as the notoriety of the actors involved. Popular figures starring in movies often attract more spectators.</br>
                        A further area of analysis that could prove insightful is the budget of the movie. It raises the question: Are well-funded movies more likely to achieve higher box office revenues, and consequently, are they more likely to have sequels?
                      </p>

                    </div>
                </section>
