                <section class="wrapper style1 align-center" id="dive">
                    <div class="inner">
                        <h1>Part 1</h1>
                        <h2>Comparing movies <em>with</em> sequels and movies <em>without</em> sequels</h2>
                        <p>
To start our analysis, we first identified which movies in our dataset had sequels and which did not. We used a combination of web scraping, data cleaning, and manual verification to enrich our dataset with sequel information.

We then divided our dataset into two groups: movies with sequels and movies without sequels. We compared these groups on various dimensions, with the goal to find out how these two categories differ, and what factors are associated with the success of movie sequels. Join us on this cinematic adventure as we explore the complex world of movie sequels.
</p>
                        <div style="display: flex; justify-content: center; width: 100%; height: 100%;">
                            <iframe src="plots/p1_release_year.html" ></iframe>
                        </div>

                      <h3>

                        
                      </h3>
                            

                    </div>
                </section>
