                <section class="wrapper style1 align-center" id="dive">
                    <div class="inner">
                        <h2>Part 1 : Comparing movies <em>with</em> sequels to movies <em>without</em> sequels</h2>

                      
                        <p align="justify">
To start our analysis, we first identified which movies in our dataset had sequels and which did not. We used a combination of web scraping, data cleaning, and manual verification to enrich our dataset with sequel information.

We then divided the movies into two groups: movies with sequels and movies without sequels. We compared these groups on various dimensions, with the goal to find out how these two categories differ, and what factors are associated with the success of movie sequels.
</p>
                        <h3>
                          Temporal Analysis
                        </h3>

                      <p align="justify">
Examining the release dates of movies provided valuable insights into temporal trends as it sheds light the evolving dynamics within the film industry.

<b> Release Year Trends </b>
Our analysis on the release years reveals a shifting landscape in the production and distribution of movies. Over time, there is an increase in the overall number of movies hitting the screens. Moreover, the number of movies with sequels has significantly increased over time, reflecting a perhaps growing popularity of franchise movies. These type of movies take an increasingly greater fraction of the overall releases. 
                        
                        <b> Release Months Trends </b>
Turning our attention to release months, a notable concentration of movie premieres in certain months emerged. ____ and _____ stood out prominently, emerging as the peak months for movie releases. This seasonal preference seems to align with the fact that summer months are traditionally associated with blockbuster releases, capitalising on viewership during vacation periods. [ A RECHECK, J'AI PLUS LES GRAPHS EN TETE ] 
                      </p>
                      
                        <div style="display: flex; justify-content: center; width: 100%; height: 100%;">
                            <iframe src="plots/p1_release_year.html" ></iframe>
                        </div>

                     <h3>
                          Financial Performance
                      </h3>
                      <p align="justify">
One of the most obvious dimensions to compare movies with and without sequels is their financial performance. We measured the success of a movie by its worldwide revenue, adjusted for inflation. <b> (adjusted ????) </b>
Overall, movies with sequels demonstrated higher average and median revenues compared to their non-sequel counterparts. This could suggest that financially successful movies get sequels as it aligns with the idea that there is interest and audiences will invest in follow-up productions.
However, the financial landscape reveals a nuanced picture : while movies with sequels boast higher average and median revenues, they also exhibit greater variability. [ A CHECK AUSSI]

                    </div>
                </section>
