                <section class="wrapper style1 align-center" id="dive">
                    <div class="inner">
                        <h2>Part 2 : Comparison between original films and their direct sequels</h2>

                      
                        <p align="justify">
To dive deeper into the distinctions between original films and sequels, we meticulously crafted datasets pairing each original film with its corresponding sequel. This approach ensured a comprehensive comparison. Special attention was paid to address potential bias caused by film sagas, treating each pair of films independently.
</p>

                        <div style="display: flex; justify-content: center; width: 100%; height: auto;">
                          <img src="plots/p2_release_year.png" style="width: 50%; height: auto;">
                        </div>

                        <h3>
                          Release Trends Analysis
                        </h3>

                      <p style="text-align: justify;">
                        The temporal analysis of release years highlights that while most sequels followed the trend of immediate releases, others strategically opted for a delayed launch, capitalizing on nostalgia or evolving audience preferences. 
                      </p>


                     <h3>
                          Financial Performance
                      </h3>
                      <p align="justify">
Our approach centers on plotting the evolution of earnings from original movies to their sequels. This visual analysis aims to explore the trends and differences in revenue growth or decline between the original films and their subsequent sequels. The analysis uncovers intriguing patterns. Surprisingly, some sequels surpassed their original films, challenging the conventional belief that the first installment often outperforms its successors, and suggesting that certain sequels manage to captivate audiences and generate significant revenue.
                        
The scatter plot reveals a positive correlation between the earnings of original movies and their sequels, indicating that sequels often emulate the financial performance of their predecessors.

                        <h3>
                          Runtime Divergence
                        </h3>

                      <p align="justify">
Examining mean durations provided insights into how the temporal structure of a film relates to its success. Notably, most sequels exhibited a trend towards identical or extended durations, potentially indicating a more elaborate storyline or a desire to offer audiences a more immersive experience.            
                      </p>

                      <h3>
                          Global Influence
                        </h3>

                      <p align="justify">
Next, we examine the release patterns of movies by their country of origin. We found that most movies in our dataset are from the United States, followed by _____. However, we also observed that movies with sequels are more likely to be from the United States and India than movies without sequels, suggesting that sequels are more prevalent in Hollywood and Bollywood more than in other countries. For the US, this could be due to the higher production budgets, marketing expenditures, and global distribution networks of American studios, which enable them to produce and promote sequels more effectively.
                      </p>


                      <h3 class="after-map">
                          Genre Dynamics
                        </h3>

                      <p align="justify">

                      </p>

                      
                      
                       <h3>
                           Casting Shadows - Actors and Characters
                        </h3>

                      <p align="justify">
Examining the median ages of characters revealed interesting trends in character development. Sequels often introduce younger characters, signaling potential shifts in narrative themes, a desire to cater to broader audiences, or simply a long-term vision with multiple sequels.
                      </p>

                        <h3>
                        </h3>

                      <p align="justify">
In conclusion, Part 2 of our data story provides a detailed exploration of the distinctions between original films and sequels. The insights derived from financial, temporal, genre, and character analyses contribute to a deeper understanding of the factors influencing the success and evolution of movie sequels. These findings pave the way for informed decision-making in the dynamic landscape of filmmaking.
                      </p>

                     
                    </div>
                </section>
