                <section class="wrapper style1 align-center" id="dive">
                    <div class="inner">
                        <h2>Part 2 : Comparison between original films and their direct sequels</h2>

                      
                        <p align="justify">
                          To delve deeper into the differences between original films and their sequels, we meticulously crafted datasets that pair each original film with its subsequent sequel. This method ensured a thorough and comprehensive comparison. We paid special attention to mitigating potential biases caused by film sagas by treating each pair of films as independent entities.
                        </p>

                        <h3>
                          Release Trends Analysis
                        </h3>

                      <p style="text-align: justify;">
                        The temporal analysis of release years reveals a notable trend: while many sequels are released immediately after their predecessors, others strategically opt for a delayed launch. This delay often capitalizes on nostalgia or evolving audience preferences.
                      </p>

                      <div style="display: flex; justify-content: center; width: 100%; height: auto;">
                        <img src="plots/p2_release_year.png" style="width: 50%; height: auto;">
                      </div>


                     <h3>
                          Financial Performance
                      </h3>
                      <p align="justify">

                        Our approach focuses on mapping the progression of earnings from original movies to their sequels. This visual analysis is designed to uncover trends and variations in revenue growth or decline between original films and their sequels. Our findings reveal intriguing patterns. Contrary to popular belief that the first installment often outperforms its successors, we found that some sequels actually surpassed their original films in earnings. This suggests that certain sequels are exceptionally successful in captivating audiences and generating significant revenue. Furthermore, the scatter plot indicates a positive correlation between the earnings of original movies and their sequels, suggesting that sequels tend to replicate the financial success of their predecessors.
                          
                        <div style="display: flex; justify-content: center; width: 100%; height: auto;">
                            <iframe src="plots/p2_earnings.html" onload='javascript:(function(o){o.style.height=o.contentWindow.document.body.scrollHeight+"px";}(this));' style="height:600px;width:100%;border:none;overflow:hidden;"></iframe>
                          </div>
                        <h3>
                          Runtime Divergence
                        </h3>

                      <p align="justify">
                      Analyzing mean durations offered insights into the relationship between a film's temporal structure and its success. Notably, most sequels showed a tendency towards maintaining identical or having extended durations compared to their predecessors. This pattern could indicate a more elaborate storyline or an effort to offer audiences a more immersive experience.
                      </p>

                      <div style="display: flex; justify-content: center; width: 100%; height: auto;">
                        <iframe src="plots/p2_duration.html" onload='javascript:(function(o){o.style.height=o.contentWindow.document.body.scrollHeight+"px";}(this));' style="height:600px;width:100%;border:none;overflow:hidden;"></iframe>
                      </div>
                      
                       <h3>
                           Casting Shadows - Actors and Characters
                        </h3>

                      <p align="justify">
                        An examination of the median ages of characters in films revealed intriguing trends. Sequels frequently introduce younger characters, suggesting possible shifts in narrative themes or an intention to cater to a wider audience. This trend could also reflect a long-term vision for franchises with multiple sequels.
                      </p>

                      <div style="display: flex; justify-content: center; width: 100%; height: auto;">
                        <img src="plots/p2_percentage_gender.png" style="width: 50%; height: auto;">
                      </div>

                        <h3>
                        </h3>

                      <p align="justify">
                        In conclusion, Part 2 of our data story offers a thorough exploration of the differences between original films and their sequels. The insights gleaned from financial, temporal, genre, and character analyses enhance our understanding of the various factors that influence the success and development of movie sequels. These findings are instrumental in guiding informed decision-making within the ever-evolving realm of filmmaking.
                      </p>

                     
                    </div>
                </section>
